<script type="text/javascript"> 
  $(document).ready(function(){
    initializeGeo()
  })
</script>

<div id="header">
  <div style="padding:0px 30px; float:left;">
    Places in <input id="address" class="input" type="textbox" value="Austin, TX">
    <input id="submit" type="button" value="Show me the places!" onclick="geocodeAddress()">
  </div>
  <div style="padding:0px 30px; float:right;">
    Infochimps Geo API Demo
    <span style="font-size:0.85em">
      (<a href="http://github.com/infochimps-labs/geo_demo">source</a>)
    </span>
  </div>
</div>

<div id="map_canvas"></div>